.home-container {
    background-color: var(--base-background-color);
    padding-top: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.story-container p {
    font-size: 20px;   
    font-family: 'Merinda', cursive;
    font-style: italic;
    color: var(--time-metric);
    font-weight: 400;
    max-width: 60%;
}

.lovers-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.lovers-words-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 50px;
    margin-top: 0;
}

.words-container {
    font-family: 'Nunito', sans-serif;
    color: var(--time-metric);
    font-style: italic;
    font-weight: 500;
}

.words-container p {
    margin: 0;
    font-size: 16px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.name-container p {
    font-family: 'Italianno', cursive;
    font-size: 40px;
    color: var(--hover-header-color);
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    width: 500px;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.date p {
    font-size: 50px;   
    font-family: "Italianno", cursive;
    margin: 0px 0px;
    color: var(--header-color);
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location p {
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--hover-header-color);
    font-size: 20px;
}

.location a {
    text-decoration: none;
}

.address p {
    font-style: italic;
    color: var(--header-color);
    font-weight: 400;
    font-size: 15px;
}

@media (max-width: 1300px) {
    .lovers-container {
        flex-direction: column;
    }

    .lovers-words-container {
        width: 75%;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .lovers-words-container {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .photo-container img {
        width: 400px;
    }

    .date p {
        font-size: 40px;
    }

    .location p {
        font-size: 14px;
    }

    .address p {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .photo-container img {
        width: 300px;
    }

    .words-container p {
        font-size: 14px;
    }

    .name-container p {
        font-size: 30px;
    }

    .date p {
        font-size: 35px;
    }

    .location p {
        font-size: 13px;
    }

    .address p {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .photo-container img {
        width: 200px;
    }

    .lovers-words-container {
        width: 80%;
        margin-left: 20px;
        margin-right: 20px;
    }
}