li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

li a {
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-size: 30px;
    color: var(--header-color);
}

li:hover a {
    transition-duration: 0.3s;
    color: var(--hover-header-color);
}


@media (max-width: 450px) {
    li a { 
        font-size: 25px;
    }
}

@media (max-width: 350px) {
    li a { 
        font-size: 20px;
    }
}