.container {
    background-color: var(--base-background-color);
    padding-top: 150px;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}