:root {
    --base-background-color: #FAF9F6;
    --hover-header-color: #d5a65f;
    --header-color: #5c5c5c;
    --shadow-color: #dad7d7;
    --time-metric: #9b9b9b;
    --time-color: #cfcdcd;
    --circle-color: #ebe8e8;
    --form-background-color: #af82c5;
    --form-background-color-darker: #a26abd;

}