.photo-container {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.photo-container img {
    width: 140px;
    max-height: 200px;
}

@media (max-width: 750px) {
    .photo-container {
        height: auto;
        margin: 20px 0px;
    }    
}